/* @font-face {
	font-family: '...';
	src: url('/fonts/...');
	font-weight: normal;
	font-style: normal;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&family=Source+Code+Pro:wght@300;400&display=swap');