:root {
	/* font-family */
	--font-family: 'Source Serif 4', sans-serif;

	/* font-size */
	--heading: 1.6rem;
	--body: 1rem;
	--caption: 0.66rem;

	/* colors */
	--header: rgb(2, 58, 21);
	--footer: #222222;
	--background: #FDF5F5;

	/* Margin */
	--bottom-big: 100px;

	--bottom-medium: 40px;
	--top-medium: var(--bottom-medium);
	--margin-medium: var(--bottom-medium);

	--bottom-small: 20px;
	--top-small: var(--bottom-small);
	--left-small: var(--bottom-small);
	--right-small: var(--bottom-small);
	--margin-small: var(--bottom-small);

	--bottom-xsmall: 10px;
	--top-xsmall: var(--bottom-xsmall);
	--left-xsmall: var(--bottom-xsmall);
	--right-xsmall: var(--bottom-xsmall);
	--margin-xsmall: var(--bottom-xsmall);

	/* Padding */
	--padding-big: 40px;
	--padding-medium: 20px;
	--padding-small: 10px;

	/* grid */
	--grid-column-12: repeat(12, 1fr);
	--gap-xsmall: 10px;
}

